@model AddApplicationViewModel
<link rel="stylesheet" href="~/css/form.css">

<div class="form">
    <div class="form__content">
        <div class="form__content__header"><span>Оформлення заявки</span></div>
        <div class="form__form">
            <form asp-action="Add" asp-controller="Application" method="post">
                <div class="form__form__item">
                    <span>Email</span>
                    <input asp-for="Email" type="email">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form__form__item">
                    <span>Телефон</span>
                    <input asp-for="Phone" type="tel">
                    <span asp-validation-for="Phone"></span>
                </div>
                <div class="form__form__item">
                    <span>Ім'я</span>
                    <input asp-for="Name" type="text">
                    <span></span>
                </div>
                <div class="form__form__item">
                    <span>Прізвище</span>
                    <input asp-for="Surname" type="text">
                    <span asp-validation-for="Surname"></span>
                </div>
                <div class="form__form__item">
                    <span>Бюджет</span>
                    <input asp-for="Budget" type="number">
                    <span asp-validation-for="Budget"></span>
                </div>
                <div class="form__form__item">
                    <span>Виберіть колір бажаної машини</span>
                    <select asp-for="Color" asp-items='Html.GetEnumSelectList<Color>()'> </select>
                    <span asp-validation-for="Color"></span>
                </div>
                <div class="form__form__item">
                    <span>Виберіть тип бажаної машини</span>
                    <select asp-for="Type" asp-items='Html.GetEnumSelectList<CarType>()'></select>
                    <span></span>
                </div>
                <div class="form__form__item">
                    <input type="submit" id="onetime" value="Створити">
                </div>
            </form>
        </div>
    </div>
</div>