@model RegisterViewModel

<link rel="stylesheet" href="~/css/form.css">
<div class="form">
    <div class="form__content">
        <div class="form__content__header"><span>Реєстрація</span></div>
        <div class="form__form">
            <form method="post" asp-action="Register" asp-controller="Account">
                <div class="form__form__item">
                    <span>Email</span>
                    <input asp-for="Email" type="email">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form__form__item">
                    <span>Телефон</span>
                    <input asp-for="Phone" type="tel">
                    <span asp-validation-for="Phone"></span>
                </div>
                <div class="form__form__item">
                    <span >Ім'я</span>
                    <input asp-for="Name" type="text">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form__form__item">
                    <span>Прізвище</span>
                    <input asp-for="Surname" type="text">
                    <span asp-validation-for="Surname"></span>
                </div>
                <div class="form__form__item">
                    <span>Пароль</span>
                    <input asp-for="Password" type="password">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form__form__item">
                    <span>Повторити пароль</span>
                    <input asp-for="PasswordConfirm" type="password">
                    <span asp-validation-for="PasswordConfirm"></span>
                </div>
                <div class="form__form__item">
                    <input type="submit" id="onetime" value="Зареєструватися">
                </div>
            </form>
        </div>
    </div>
</div>