<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/nullStyle.css">
    <link rel="stylesheet" href="~/css/site.css">
    <script src="~/js/site.js"></script>
    <title>Автосалон</title>
</head>

<body>
    <header>
        <div class="header__content">
            <div class="header__menu">
                <a asp-action="Index" asp-controller="Home" class="header__menu__item">Головна</a>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Logout" asp-controller="Account" class="header__menu__item">Вихід з акаунта</a>
                    }
                    else{
                        <a asp-action="Register" asp-controller="Account" class="header__menu__item">Реєстрація</a>
                        <a asp-action="Login" asp-controller="Account" class="header__menu__item">Вхід</a>
                    }

                    if (User.IsInRole("admin"))
                    {
                        <a asp-action="Cars" asp-controller="Admin" class="header__menu__item">Панель адміністратора</a>
                    }
                    else{
                        if (User.Identity.IsAuthenticated)
                        {
                            <a asp-action="Add" asp-controller="Application" class="header__menu__item">Подати заявку на авто</a>
                        }
                    }
                }
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>
</body>
</html>